
<div class="buttons-wrapper">

      <input id="slide1" type="radio" name="slider" checked>
      <input id="slide2" type="radio" name="slider">
      <input id="slide3" type="radio" name="slider">
      <input id="slide4" type="radio" name="slider">

      <ul class="slider">
        <li style="background-image: url({{ base_path ~ directory }}{{ slide1 }})">
          <div class="caption">
            <h3>{{ slide1_heading }}</h3>
            <p>
              {{ slide1_paragraph }}
            </p>
          </div>
        </li>
        <li style="background-image: url({{ base_path ~ directory }}{{ slide2 }})">
          <div class="caption">
            <h3>{{ slide2_heading }}</h3>
            <p>
                {{ slide2_paragraph }}
            </p>
          </div>
        </li>
        <li style="background-image: url({{ base_path ~ directory }}{{ slide3 }})">
          <div class="caption">
            <h3>{{ slide3_heading }}</h3>
            <p>
                {{ slide3_paragraph }}
            </p>
          </div>
        </li>
        <li style="background-image: url({{ base_path ~ directory }}{{ slide4 }})">
          <div class="caption">
            <h3>{{ slide4_heading }}</h3>
            <p>
               {{ slide4_paragraph }}
            </p>
          </div>
        </li>
      </ul>

      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>

    </div>

    <footer>
       &copy; 2015
    </footer>
